/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
	display: block;
	max-width: 100%;
}

input, button, textarea, select {
	font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

#root, #__next {
	isolation: isolate;
}

/* End of reset */

:root {
	--color-background: rgb(34, 39, 48);
	--color-path: rgb(253, 229, 184);
	--color-text: rgb(224, 176, 238);
}

body {
	font-family: 'Fira Code', monospace;
	background-color: var(--color-background);
	color: var(--color-text);
}

.term-window {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-inline: 1.5em;
}

.prompt-span {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.prompt-input {
	/* background-color: var(--color-background); */
	background-color: aqua;
	color: var(--color-text);
	border: none;
	flex-grow: 1;
	min-width: 7ch;
}

.prompt-input:focus {
	outline: none;
}

.prompt-path {
	color: var(--color-path);
	white-space: nowrap;
}